################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

*.lock
cx.API.Infrastructure.Core/bin/
cx.API.Infrastructure.Core/obj/
.vs/
*.user